/*! Товар ***/
.product-view .block-bg {padding: 0 15px;overflow: initial;border-radius: 5px;border: 1px solid #f0f0f0}
.product-view .product-img-box {margin-bottom: 0;padding: 15px;border-right: 1px solid#f0f0f0}
.product-view .product-img-box .general-img {position: relative;text-align: center;min-height: 200px}
.product-view .product-img-box .general-img [class^=ico] {left: 0}
.product-view .product-img-box .general-img [class^=ico]:not(.ico-sale) {top: 0}
.product-view .product-img-box .general-img img {max-width: 100%}
.thumblist-box {position: relative;overflow: hidden;padding: 0;margin-top: 5px}
.thumblist-box .next,
.thumblist-box .prev {display: none;position: absolute;top: 0;line-height: 100px;right: 0;margin: 0 0 0 5px;font-family: FontAwesome;background: #fff}
.thumblist-box .prev {float: left;left: 0;margin: 0 5px 0 0}
.thumblist-box .prev:before {content: "\f104"}
.thumblist-box .next:before {content: "\f105"}
.thumblist {max-width: 460px;margin: 0 auto}
.thumblist .thumblist-item {display: block;float: none;margin: 0 auto;width: 100px}
.thumblist .thumblist-item a {display: block;text-align: center;width: 100px;height: 100px}
.thumblist.owl-carousel .thumblist-item a img {display: inline-block;margin: 0 auto;width: auto;max-width: 100px;max-height: 100px}
.thumblist .owl-stage {margin: 0 auto}
.product-view .product-shop {margin-bottom: 30px}
.product-view .product-header {display: -webkit-box;display: -ms-flexbox;display: flex;padding-bottom: 15px;padding-top: 15px}
.product-view .product-header .product-name h1 {display: block;margin: 0;font-size: 24px;font-weight: 700;text-transform: none;overflow: hidden}
@media all and (max-width:1199px) {
  .product-view .product-header .product-name h1 {font-size: 21px}
}
@media all and (max-width:991px) {
  .product-view .product-header .product-name h1 {font-size: 18px}
}
@media all and (max-width:481px) {
  .product-view .product-header .product-name h1 {font-size: 16px}
}
.product-view .product-header .product-name.quick-view h1 {font-size: 20px}
.product-view .product-action {text-align: right;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;position: absolute;z-index: 2;right: 0;top: 0;border: 1px solid transparent;border-radius: 25px;overflow: hidden;background: #f3f3f5;border-color: #f3f3f5}
.product-view .product-action a {padding: 4px 9px;font-size: 12px;color: #9c9e9e;z-index: 1;-webkit-transition: .1s all;transition: .1s all;border-radius: 25px}
.product-view .product-action a.added {opacity: .8;color: #fff;background: #398f93}
.product-view .product-action a:hover {opacity: 1}
@media all and (max-width:991px) {
  .product-view .product-action {padding: 0}
}
.product-view .product-toolbar {padding-top: 0;margin-bottom: 15px;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-align: center;-ms-flex-align: center;align-items: center}
.product-view .product-neighbor {margin-left: auto;flex-shrink: 0;}
.product-view .product-neighbor > div {display: inline-block;position: relative;vertical-align: middle}
.product-view .product-neighbor > div > a {display: inline-block;color: #93a6b3;opacity: .7;font-size: 24px;width: 30px;line-height: 30px;text-align: center}
.product-view .product-neighbor > div > a:hover {opacity: 1}
.product-view .product-neighbor > div .content {position: absolute;left: 0;top: 100%;border-top: 3px solid#398f93;padding: 10px;background-color: #fff;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);z-index: 2;visibility: hidden;opacity: 0;text-align: center;border-radius: 4px;-webkit-transition: all .2s;transition: all .2s}
.product-view .product-neighbor > div .content:before {content: "";display: block;position: absolute;top: -13px;left: 0;width: 5px;height: 2px;border: 5px solid transparent;border-bottom-color: #398f93}
.product-view .product-neighbor > div:hover .content {opacity: 1;visibility: visible}
.product-view .product-neighbor .prev .content {right: auto;left: 0;margin-left: -17.5px}
.product-view .product-neighbor .prev .content:before {left: 32px;right: auto}
.product-view .product-neighbor .next .content {left: auto;right: 0;margin-right: -17.5px}
.product-view .product-neighbor .next .content:before {right: 32px;left: auto}
.product-view .product-neighbor > div .content .image {display: block;position: relative;margin: 0 auto 10px;max-width: 100px;max-height: 100px}
.product-view .product-neighbor > div .content .name {margin: 0;font-weight: 600;font-size: 11px}
.product-view .product-toolbar .ratings {display: inline-block;vertical-align: middle;background: 0 0;margin: 0;margin-right: 11px}
.product-view .product-toolbar .ratings .ratiing-count {display: inline-block;vertical-align: middle;font-size: 14px}
.product-view .product-toolbar .ratings .ratiing-count:hover {color: #323f48}
.product-view .product-toolbar .goodsDataMainModificationArtNumber {display: inline-block;vertical-align: middle;white-space: nowrap;margin-right: 11px}
.product-view .product-toolbar .goodsDataMainModificationArtNumber span {font-family: 'Open Sans',sans-serif}
.product-view .product-toolbar .goodsDataMainModificationAvailable {display: inline-block;vertical-align: middle;white-space: nowrap}
.product-view .product-toolbar .goodsDataMainModificationAvailable span {display: none}
.product-view .product-toolbar .goodsDataMainModificationAvailable .available-value {display: block}
.product-view .product-toolbar .goodsDataMainModificationAvailable .available-true .available-value {color: #4db725}
.product-view .product-toolbar .goodsDataMainModificationAvailable .available-false .available-value {color: #398f93}
.product-view .short-description {margin-top: 15px;font-size: 15px;font-weight: 400;line-height: 1.5}
.product-view .short-description p {max-height: 110px;overflow: hidden;margin: 0}
.product-view .short-description-link {display: inline-block;margin-top: 10px;color: #398f93}
.product-view .short-description-link:hover {color: #398f93}
.product-view .table-features-min {width: 100%;border-collapse: collapse;margin-top: 15px;margin-bottom: 20px;margin-left: -10px}
.product-view .table-features-min td {padding: 8px 10px 0;overflow: hidden}
.product-view .table-features-min .cell1 {position: relative}
.product-view .table-features-min .cell1:after {content: '';position: absolute;right: -5px;bottom: 4px;left: 10px;border-bottom: 1px dotted #b1bfc8}
.product-view .table-features-min .features-name {position: relative;z-index: 1;padding-right: 5px;background-color: #fff}
@media all and (max-width:767px) {
  .product-view .table-features-min {table-layout: auto}
}
.product-view .goodsDataMainDiscountBlock {line-height: 20px;margin-bottom: 10px;padding: 15px 0}
.product-view .goodsDataMainDiscountBlock i {float: left;color: #398f93;font-size: 40px;margin-right: 20px}
.product-view .goodsDataMainDiscountBlock strong {color: #2e2e2e}
.product-view .goodsDataMainDiscountBlock .product-view .product-order {padding: 15px;padding-left: 30px}
@media(max-width:991px) {
  .product-view .product-order {padding-left: 15px;padding-top: 0}
}
.product-view .product-order .product-order-inner {padding: 0}
.product-view .product-order .price-box {float: left;margin: 0}
.product-view .product-order .price-box .old-price > span {margin-right: 5px}
.product-view .product-shop .goodsDataMainModificationAvailable {margin: 0 0 7px 0;font-weight: 600;color: #2e2e2e}
.product-view .product-shop .goodsDataMainModificationAvailable span {display: inline-block;font-weight: 400;margin-left: 5px;text-shadow: none;color: #4db725}
.product-view .product-order .goodsDataMainModificationAvailable .available-false span {color: #ca2942}
.product-view .product-order .goodsDataForm {float: left;width: 100%;margin-top: 10px;max-width: 320px}
.product-view .product-order .goodsDataMainModificationsBlock .goodsDataMainModificationsBlockProperty {clear: both}
.product-view .product-order .goodsDataMainModificationsBlock .goodsDataMainModificationsBlockProperty:first-child {margin-left: 0}
.product-view .product-order .goodsDataMainModificationsBlock .goodsDataMainModificationsBlockProperty:not(:first-child) {margin-top: 10px}
.product-view .product-order .goodsDataMainModificationsBlock .goodsDataMainModificationsBlockProperty span {display: block;margin-bottom: 10px}
.product-view .product-order .goodsDataMainModificationsBlock .goodsDataMainModificationsBlockProperty .jq-selectbox {width: 100%}
.product-view .product-order .goodsDataMainModificationsBlock .goodsDataMainModificationsBlockProperty select {display: block;width: 100%;padding: 5px;border: 1px solid #dce4e9;cursor: pointer;font-size: 16px}
.product-view .product-order .goodsDataMainModificationsBlock .goodsDataMainModificationsBlockProperty select:hover {border-color: #b1bfc8}
.product-view .product-order .goodsDataMainModificationsBlock .goodsDataMainModificationsDescriptionBlock {display: none!important;width: 100%;max-height: 50px;overflow: hidden;border-left: 3px solid #398f93;padding: 0 0 0 15px}
.product-view .product-order .goodsDataMainModificationsBlock .goodsDataMainModificationsDescriptionBlock div {margin: 0}
.product-view .product-order .actions .qty-wrap {width: 100px}
.product-view .product-order .actions .qty-set > a {width: 30px;height: 36px;line-height: 36px}
.product-view .product-order .actions input.quantity {width: 40px;height: 36px}
.product-view .product-order .add-to-box .goodsDataMainModificationEmpty {display: inline-block;vertical-align: middle;width: 100%;height: 38px;line-height: 36px;text-align: center;padding: 0 17px;margin: 6px 0 7px;font-size: 14px;border: none;color: #2e2e2e;background-color: #f3f3f5;cursor: default;border-radius: 5px;}
.product-view .product-order .add-to-box .add-to-cart {display: inline-block;vertical-align: middle;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-align: center;-ms-flex-align: center;align-items: center;padding-top: 10px}
.product-view .product-order .add-to-box .add-to-cart .button {height: 36px;line-height: 34px;font-size: 14px;padding: 0 10px;vertical-align: middle;-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1}
.product-view .product-order .add-to-box .add-to-cart .quick {width: 100%;margin-top: 10px;background: #fff;border-color: #398f93;color: #398f93}
.product-view .product-order .add-to-box .add-to-cart .more {display: none;margin-top: 10px}
.product-view .product-shop .custom-block {padding: 15px 0;border-bottom: 1px solid #dce4e9}
.product-view .product-shop .custom-block .item {display: inline-block;padding: 0 10px;text-align: left;border-left: 1px solid #dce4e9}
.product-view .product-shop .custom-block .item:first-child {border-left: 0;padding-left: 0}
.product-view .product-shop .custom-block .item i {display: inline-block;vertical-align: middle;font-size: 35px;color: #398f93}
.product-view .product-shop .custom-block .text-area {display: inline-block;vertical-align: middle;text-align: left;margin-left: 5px;font-size: 14px;font-weight: 400}
.product-view .product-order.quick-view .price-box {margin: 0}
.product-view .product-order.quick-view .goodsDataMainModificationsBlock {margin-bottom: 10px}
/*!Вкладки табы */
.product-tabs {padding: 40px 0;clear: both}
.product-tabs .tabs-wrap {height: 100%}
.product-tabs + .related {margin-top: -40px}
.product-tabs .tab-content .htmlDataBlock {padding: 0;margin: 0}
.product-tabs .tab-content .htmlDataBlock p {margin: 0}
.product-tabs .tab-content .htmlDataBlock table {border-collapse: collapse}
.product-tabs .tab-content .htmlDataBlock table td {border: 1px solid #dce4e9}
.product-tabs .tab-content#content_2 {padding: 0}
.product-tabs .tab-content#content_2 .table-box.table-striped {margin-bottom: 0}
.product-tabs .tab-content#content_3 {padding: 0}
.product-tabs .tabs {display: -webkit-box;display: -ms-flexbox;display: flex;margin-bottom: 20px}
.product-tabs .tabs-inner {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin: 0;padding: 0;list-style: none;text-align: left;height: 50px}
.product-tabs .tabs-inner:after {content: '';display: block;height: 2px;width: 100%;position: absolute;top: 100%;background: #f0f0f0}
.product-tabs .tabs .tabs-item {display: inline-block;background-color: transparent;border-radius: 0;z-index: 2;margin-right: 25px}
.product-tabs .tabs .tabs-item:last-child {margin-right: 0}
.product-tabs .tabs .tabs-counter {font-family: 'Open Sans',sans-serif}
.product-tabs .tabs .tabs-item a {display: block;font-size: 18px;font-weight: 700;padding: 14px 0;border-bottom: 2px solid transparent;white-space: nowrap}
.product-tabs .tabs .tabs-item a.active {color: #398f93}
.product-tabs .tabs .tabs-item a:not(.active):hover {color: #398f93}
.product-tabs .tab-content {background-color: transparent;padding: 15px;font-size: 15px;overflow: hidden;border-radius: 5px;border: 1px solid #f0f0f0}
.tab-content .delivery {margin-bottom: 30px}
.tab-content .delivery h4 {background: #f0f0f0;padding: 15px;font-size: 20px;border-radius: 5px;border-bottom-left-radius: 0;border-bottom-right-radius: 0}
.tab-content .delivery:not(:first-child) h4 {border-top-left-radius: 0;border-top-right-radius: 0}
.tab-content .delivery .delivery-content {padding: 20px}
.tab-content .delivery:last-child {margin-bottom: 0}
.tab-content .delivery p {margin-bottom: 10px}
.tab-content .delivery h5,
.tab-content .delivery h6 {font-weight: 400;margin-bottom: 5px}
.tab-content .table-box tbody tr td {width: auto;text-align: left}
/*!Отзывы */
.goodsDataOpinionMessage.empty p {margin: 0}
.goodsDataOpinionListNavigateTop {display: inline-block}
.goodsDataOpinionListNavigateTop .button {display: inline-block;margin: 0 5px 5px 0}
.goodsDataOpinionListNavigateTop .opinionListCount {font-family: 'Open Sans',sans-serif}
.goodsDataOpinionShowAddForm {text-decoration: underline}
.goodsDataOpinionListNavigateTop .goodsDataOpinionShowAddForm {background-color: #060}
.goodsDataOpinionListNavigateTop .goodsDataOpinionShowAddForm:hover {background-image: linear-gradient(160.47deg,#398f93 11.94%,#fc9758 85.71%)}
.goodsDataOpinionListNavigateBottom .pager .pages {float: left}
.goodsDataOpinionListNavigateBottom .pager .pages .title {float: left;line-height: 28px;margin-right: 10px}
.goodsDataOpinionList {width: 100%;margin-top: 10px}
.goodsDataOpinionList .bord {width: 100%;margin-bottom: 15px;padding-bottom: 5px;border-bottom: 1px solid #f0f0f0}
.goodsDataOpinionList .goodsDataOpinionHeader {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-bottom: 15px}
.goodsDataOpinionList .goodsDataOpinionHeader .rating-box {margin-right: 10px}
.goodsDataOpinionList .goodsDataOpinionListTitle {display: block;margin-bottom: 5px;padding-right: 10px;color: #2e2e2e;line-height: 1.3;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.goodsDataOpinionList .goodsDataOpinionListClient {display: inline-block;vertical-align: middle;padding-right: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.goodsDataOpinionList .rating-box {display: inline-block;vertical-align: middle;font-size: 11px}
.goodsDataOpinionList .goodsDataOpinionListDate {display: inline-block;vertical-align: middle;font-size: 14px;font-family: 'Open Sans',sans-serif}
.goodsDataOpinionList .button {max-width: 100px;float: right}
.goodsDataOpinionList .goodsDataOpinionListDesc,
.goodsDataOpinionListTableAnswer {margin-bottom: 15px}
.goodsDataOpinionList .goodsDataOpinionListDesc strong {display: block;margin-bottom: 10px;color: #2a3034}
.goodsDataOpinionList .goodsDataOpinionListDesc span {display: block}
.goodsDataOpinionAddForm.bordered #goodsDataOpinionAddBlock {border: 1px solid #edf1f4;border-top-left-radius: 5px;border-top-right-radius: 5px}
#goodsDataOpinionAddBlock .goodsDataOpinionAddBlock-title {max-height: 78px;overflow: hidden;font-size: 20px;padding: 15px;margin: -15px -15px 0;background-color: #f1f1f1}
.goodsDataOpinionAddForm.bordered #goodsDataOpinionAddBlock .goodsDataOpinionAddBlock-title {margin: 0;border: none}
.goodsDataOpinionAddTable .goodsDataOpinionBlock {margin-bottom: 20px;width: 100%;max-width: 600px;overflow: hidden}
.goodsDataOpinionAddTable label {display: block;margin-bottom: 10px}
.goodsDataOpinionAddTable label.invalidInput {width: 100%}
.goodsDataOpinionAddTable {margin-top: 20px}
.goodsDataOpinionAddForm.bordered .goodsDataOpinionAddTable {margin: 0;padding: 20px}
.goodsDataOpinionRating {width: 90px;margin-top: 3px}
.goodsDataOpinionAddTable .generally {float: left}
.goodsDataOpinionAddTable .generally label {display: inline-block;float: none;width: auto}
.goodsDataOpinionAddTable .goodsDataOpinionCaptcha {float: left}
.goodsDataOpinionAddTable .goodsDataOpinionCaptcha .inputText {max-width: 100px;margin-right: 20px}
.goodsDataOpinionAddTable .goodsDataOpinionCaptcha .goodsDataOpinionCaptchaRefresh {padding: 5px;cursor: pointer}
.goodsDataOpinionAddTable .goodsDataOpinionCaptcha .goodsDataOpinionCaptchaRefresh:hover {color: #398f93}
.goodsDataOpinionFormReset {background: 0 0;text-decoration: underline;width: 150px;text-align: left;padding-left: 0;border: 0;outline: 0;cursor: pointer}
.goodsDataOpinionFormReset:hover {color: #398f93}
/*!С этим товаром смотрят, Сопутствующие товары */
.related {padding-top: 40px}
.related .owl-stage {display: -webkit-box;display: -ms-flexbox;display: flex}
.related .owl-item {-webkit-box-flex: 1;-ms-flex: 1 0 auto;flex: 1 0 auto}
@media all and (max-width:1199px) {
  .thumblist {max-width: 330px}
  .product-view .product-shop .custom-block .item {text-align: center;padding: 0}
  .product-view .product-shop .custom-block .text-area {text-align: center}
}
@media all and (max-width:991px) {
  .thumblist {max-width: 630px}
  .thumblist-box {padding: 0;margin-bottom: 5px}
  .product-view .product-shop .product-neighbor {display: none}
  .product-view .product-shop .add-to-box .add-to-cart .button.quick {display: none}
  .product-tabs .tabs-content {padding-bottom: 30px}
  .product-view .product-neighbor {display: none}
  .product-view .product-img-box {border-right: 0;padding-bottom: 0}
}
@media all and (max-width:767px) {
  .thumblist {max-width: 500px}
  .goodsDataOpinionAddTable label {width: 100%}
  .goodsDataOpinionFormReset {width: 80px}
}
@media all and (max-width:641px) {
  .product-view .product-shop .custom-block .item {text-align: center}
  .product-view .product-shop .custom-block .item i {display: block;text-align: center}
  .product-view .product-shop .custom-block .text-area {text-align: center;margin: 0}
  .product-tabs .tabs {padding: 0}
  .product-tabs .tabs li a {padding: 15px}
  .thumblist {max-width: 340px}
}
@media all and (max-width:550px) {
  .product-tabs .tabs-inner {height: auto;overflow: auto}
  .product-tabs .tabs-inner .nav-splitter {display: none}
  .product-tabs .tabs-inner:after {display: none}
  .product-tabs .tabs .tabs-item a {padding: 5px 0}
}
@media all and (max-width:481px) {
  .product-view .product-img-box .general-img {min-height: 100px}
  .product-view .product-shop .custom-block .item {display: block;width: 100%;border-left: 0;padding: 0 0 15px 0;text-align: left}
  .product-view .product-shop .custom-block .item:last-child {padding-bottom: 0}
  .product-view .product-shop .custom-block .item i {display: inline-block;text-align: left;width: 45px;font-size: 25px;text-align: center}
  .product-view .product-shop .custom-block .text-area {text-align: left;margin-left: 5px}
  .product-view .product-shop .add-to-box .add-to-cart {display: block}
  .thumblist {max-width: 220px}
  .tab-content .delivery h4 {font-size: 16px}
  .goodsDataOpinionFormReset {width: auto}
}
@media all and (max-width: 320px) {
  .product-tabs .tabs .tabs-item {margin-right: 15px;}  
}
